#wrapper{
    width: 100%;
}
#register, #login{
    display: inline-block;
    vertical-align: top;
    width: 40%;
}
span{
    color: red;
}

/* #register {
    border-right: 2px dotted #595151;
} */

#login {
    margin-left: 5%;
}
